<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='css/adminLogin.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/swiper.css')}}" rel="stylesheet">
    <title>247 | Admin</title>
</head>
<body>

<div class="container">
    
    <div class="spinner-wrapper">
        <div class="spinner">
            <h1 class="load" style="font-size: 11px;">DIRECTING LOGIN</h1>
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
            <h1 class="load" style="font-size: 11px;">PLEASE WAIT</h1>
        </div>
    </div>
    <div class="titleadmin">
        <h2>ADMIN LOGIN</h2>
    </div>

    <form method="post">
        <div class="form-group">
            <label for="name">Admin name*</label>
            <input type="text" class="name" name="name" placeholder="Enter name of admin">
        </div>
        <div class="form-group">
            <label for="password">Admin password*</label>
            <input type="password" class="password" name="password" placeholder="Enter password">
        </div>

        <input type="submit" class="btnAdd" name="submit" value="ENTER">
        <br><br>
        <a class="btnCancel" href="/">CANCEL</a><br><br>
    </form>
</div>

<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script> 
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script> 
<script src="{{url_for('static', filename='js/jquery.easing.min.js')}}"></script> 
<script src="{{url_for('static', filename='js/scripts.js')}}"></script>
<script src="{{url_for('static', filename='js/swiper.min.js')}}"></script> 

</body>
</html>
