<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- WEBSITE TITLE -->
    <title>247 LOAN | Loan Applicantion Prediction</title>
     <!-- STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
	<link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/fontawesome-all.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/swiper.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/magnific-popup.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<!-- WEB ICON / FAV ICON  -->
    <link rel="icon" href="{{url_for('static', filename='images/logo.svg')}}">

</head>
<body data-spy="scroll" data-target=".fixed-top">
    <!-- PRELOADER -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <h1 class="load">247 LOAN</h1>
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
            <h1 class="load">PLEASE WAIT</h1>
        </div>
    </div>


    <header id="header" class="header">
        <!-- NAVIGATION BAR -->
        <div class="navbar-wrapper2" id="navbar-wrapper">
            <nav class="navbar2" id="navbar">
              <div class="left-section2">
                <ul>
                  <li><a href="#Predict" class="page-scroll">APPLY LOAN</a></li>
                  <li><a href="list">ABOUT</a></li>
                  <li><a href="">DISCOVER</a></li>
                    </ul>
                </div>
                <div class="right-section2">
                    <a href="admin1" class="page-scroll">ADMIN</a></li>
                </div>
                <div class="center-section header2" >
                    <img src="{{url_for('static', filename='images/bg2.png')}}" class="clothingname">
                    <img src="{{url_for('static', filename='images/logo.png')}}" id="outblindImage" style="width: 45%;">
                </div>
            </nav>
        </div>
    
        <!-- HOME HEADER -->
        <div class="header-content">
            <div class="container">
                <div class="col-lg-12">
                    <div class="text-container">
                        <h3 class="intro">INTRODUCING</h3>            
                        <p class="textPredict">      
                            LOAN PREDICTION 
                        </p>
                        <p class="textPredict2" id="countdown">
                            01D : 11 H : 26 M : 18 S
                        </p>
                        <a href="" class="loanLink"><img width="20" height="20" class="arrow" src="https://img.icons8.com/ios/50/FFFFFF/right--v1.png" alt="right--v1"/>APPLY LOAN NOW</a>
                        <a href="" class="loanLink"><img width="20" height="20" class="arrow" src="https://img.icons8.com/ios/50/FFFFFF/right--v1.png" alt="right--v1"/>APPLY LOAN NOW</a>
                        
                    </div>
                </div>
            </div> 
        </div> 
    </header>

    <!-- DESCRIPTION -->
    <div class="services" id="Description">
        <h1 class="titleLoan">LOAN APPLICATION</h1>
        <p class="info">Get your loan application approval chances by providing few necessary informations.</p>
        <div class="image-grid">
            <img src="{{url_for('static', filename='images/loan_app.jpg')}}" alt="Description Image 1" class="service-image">
            <img src="{{url_for('static', filename='images/loan_app.jpg')}}" alt="Description Image 2" class="service-image">
           
        </div>
        <br>
        <p class="info">A loan application is used by borrowers to apply for a loan. <br>
            Through the loan application, borrowers reveal key details about their finances to the lender.<br>
            The loan application is crucial to determining whether the lender will grant the request for 
            funds or credit.</p> 
    </div>


    <!-- TERMS CONTENTS -->
    <div id="Predict" class="ex-basic-2" >
        <div class="container">
            <h3 class="textFill">PLEASE FILL UP THE LOAN APPROVAL CORRECTLY:</h3>
            <div class="row">
                <div class="col-lg-6" >
                    <div class="text-container" >
							<!-- CONTACT FORM -->
								<form id="contactForm" data-toggle="validator" data-focus="false" action="{{ url_for('Loan_Application') }}" method="POST">
								
                                <div class="form-group">
                                    <input name="genders_type" list="genders" class="form-control-input" required select>
                                    <label class="label-control" for="genders_type">Gender*</label>
                                    <datalist id="genders">
                                    <option value="MALE">
                                    <option value="FEMALE">                            
                                    </datalist>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group">
                                    <input name="marital_status" list="married" class="form-control-input" required select>
                                    <label class="label-control" for="marital_status"> Marital status of the applicant*</label>
                                    <datalist id="married">
                                    <option value="YES">
                                    <option value="NO">                            
                                    </datalist>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group">
                                    <input name="dependents" list="dependents_list" class="form-control-input" required select>
                                    <label class="label-control" for="dependents">Dependents: No. of people dependent on the applicant (>=2,<2)*</label>
                                    <datalist id="dependents_list">
                                    <option value=">=2">
                                    <option value="<2">
                                    </datalist>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group">
                                    <input name="education_status" list="education" class="form-control-input" required select>
                                    <label class="label-control" for="education_status">Education level of the applicant (Graduated, Not Graduated)*</label>
                                    <datalist id="education">
                                    <option value="GRADUATED">
                                    <option value="NOT GRADUATED">                            
                                    </datalist>
                                    <div class="help-block with-errors"></div>
                                </div> 

                                <div class="form-group">
                                    <input name="self_employment" list="employment" class="form-control-input" required select>
                                    <label class="label-control" for="self_employment"> Self-employed (Yes, No)*</label>
                                    <datalist id="employment">
                                    <option value="YES">
                                    <option value="NO">                            
                                    </datalist>
                                    <div class="help-block with-errors"></div>
                                </div>	
                        </div> 
                </div> 	

					<!-- CONTACT FORM -->
				    <div class="col-lg-6">
                        <div class="text-container">
							
                            <div class="form-group">
                                    <input name="applicantIncome" type="number" min="0" max="100000" class="form-control-input" id="applicantIncome" required select>
                                    <label class="label-control" for="applicantIncome">Applicant Income: The amount of income the applicant earns:*</label>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group">
                                    <input name="coapplicantIncome" type="number" min="0" max="100000" class="form-control-input" id="coapplicantIncome" required select>
                                    <label class="label-control" for="coapplicantIncome">Co-applicant Income: The amount of income the co-applicant earns:*</label>
                                    <div class="help-block with-errors"></div>
                                </div>
                                
                                <div class="form-group">
                                    <input name="loan_amnt" class="form-control-input" type="number" min="500" max="40000" id="loan_amnt" required select>
                                    <label class="label-control" for="loan_amnt">Loan Amount (₱5000 to ₱10000):*</label>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <input name="term_d"  class="form-control-input" type="number" min="10" max="365" id="term_d" required select>
                                    <label class="label-control" for="term_d">Loan Amount Term: The  no. of days over which the loan will be paid (in Days)*</label>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group">
                                    <input name="credit_history" list="crhist_list" class="form-control-input" required select>
                                    <label class="label-control" for="credit_history">Credit History of a borrower's responsible(1- has all debts paid, 0- not paid)*</label>
                                    <datalist id="crhist_list">
                                    <option value="0">
                                    <option value="1">
                                    
                                    </datalist>
                                    <div class="help-block with-errors"></div>
                                </div>
       
                                <div class="form-group">
                                    <input name="property_area" list="property_list" class="form-control-input" required select>
                                    <label class="label-control" for="property_area">Location*</label>
                                    <datalist id="property_list">
                                    <option value="RURAL">
                                    <option value="SEMIRURAL">
                                    </datalist>
                                    <div class="help-block with-errors"></div>
                                </div>	
								
                        </div>
					</div> 	
   
                    <button type="submit" class="form-control-submit-button">
                        <div class="text-container">
                          <span>SUBMIT APPLICATION</span>
                          <span>SUBMIT APPLICATION</span>
                        </div>
                    </button>           
				</form>
			</div> 
		</div>
    </div> 

   <!-- FOOTER -->
<div id="contact" class="footer">
    <div class="container">
        <div class="row">
            <!-- Contact Information -->
            <div class="col-md-4">
                <h4>WEBLOAN</h4>
                <p>Email: info@webloan.com</p>
                <p>Phone: (123) 456-7890</p>
            </div>
        
            <div class="col-md-2">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h4>Support</h4>
                <ul>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h4>Social</h4>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

</div> 

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script> 
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script> 
    <script src="{{url_for('static', filename='js/jquery.easing.min.js')}}"></script> 
	<script src="{{url_for('static', filename='js/scripts.js')}}"></script>
	<script src="{{url_for('static', filename='js/swiper.min.js')}}"></script> 

    <script>

        // SCROLL NAVIGATION BAR HIDE
        window.onscroll = function() {scrollFunction()};
      
        function scrollFunction() {
          if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 40) {
            document.getElementById("navbar").style.top = "-60px";
          } else {
            document.getElementById("navbar").style.top = "0";
          }
        }

        // CHANGING THE 247 LOAN TO PREDICTION NAVIGATION
        document.addEventListener("DOMContentLoaded", function() {
        document.querySelector(".clothingname").style.opacity = 1;
  
        window.addEventListener("scroll", function() {
          var scrollPosition = window.scrollY;
          var transitionThreshold = 5; // Adjust this value as needed
  
        if (scrollPosition > transitionThreshold) {
          document.getElementById("header").classList.add("header-transparent");
          document.getElementById("outblindImage").style.opacity = 1; // Show image
          document.querySelector(".clothingname").style.opacity = 0; // Hide text
        } else {
          document.getElementById("header").classList.remove("header-transparent");
          document.getElementById("outblindImage").style.opacity = 0; // Hide image
          document.querySelector(".clothingname").style.opacity = 1; // Show text
            }
          });
        });

        // COUNTDOWN
        var targetDate = new Date("2024-06-22T00:00:00").getTime();

        var countdownInterval = setInterval(function() {
        var currentDate = new Date().getTime();

        var remainingTime = targetDate - currentDate;

        var days = Math.floor(remainingTime / (1000 * 60 * 60 * 24));
        var hours = Math.floor((remainingTime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);

        document.getElementById("countdown").textContent = pad(days, 2) + " D : " + pad(hours, 2) + " H : " + pad(minutes, 2) + " M : " + pad(seconds, 2) + " S";

   
        if (remainingTime < 0) {
            clearInterval(countdownInterval);
            document.getElementById("countdown").textContent = "Countdown Over";
          }
        }, 1000);

        function pad(num, size) {
           var s = num + "";
           while (s.length < size) s = "0" + s;
           return s;
        }
      </script>
      
</body>
</html>
